body{
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.jogo{
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:baseline;
}

#grid{
    width: 500px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    margin: 2px;
}